<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="utf-8">
  <title>{{meta_title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css2?family=Fira+Mono&family=Roboto:wght@400;700&family=Vesper+Libre:wght@400;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="{{asset "css/normalize.css"}}" />
  <link rel="stylesheet" type="text/css" href="{{asset "css/main.css"}}" />
  <link rel="stylesheet" type="text/css" href="{{asset "css/prism.css"}}" />

  {{ghost_head}}
</head>

<body class="{{body_class}}">
  <div class="wrapper">
    <header class="page">
      <a href="https://gojadud.com" class="logo" title="Go to homepage">
        <img src="{{asset "images/logo_jdd@2x.png"}}" alt="Jdd" />
      </a>

      <address>
        <a href="mailto:hello&#64;gojadud.com">hello&#64;gojadud.com</a>
      </address>
    </header>

    <section class="navigation">
      <nav>
        <ul>
          <li>
            <a href="https://gojadud.com"><span>👋</span>About</a>
          </li>
          <li>
            <a href="https://gojadud.com/experience.html"><span>🎩</span>Experience</a>
          </li>
          <li>
            <a href="https://gojadud.com/skills.html"><span>🕹</span>Skills</a>
          </li>
          <li class="active">
            <a href="{{@site.url}}"><span>✍️</span>Articles</a>
          </li>
        </ul>
      </nav>

      <address>
        <a href="mailto:hello&#64;gojadud.com">hello&#64;gojadud.com</a>
      </address>
    </section>

    <main>
      {{{body}}}
    </main>
  </div>

  <script src="{{asset "prism.js"}}"></script>
  <script>
    window.addEventListener('DOMContentLoaded', (event) => {
      document.querySelectorAll('.linenumbers pre').forEach(function(node) {
        node.classList.add('line-numbers');
      });
      Prism.highlightAll();

      document.querySelectorAll('article.post-full .post-content a').forEach(function(node) {
        node.setAttribute("target", "_blank");
      });
    });
  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-90313152-3', 'auto');
      ga('set', 'anonymizeIp', true);
      ga('send', 'pageview');
      window.setTimeout(function() {
        ga('send', 'event', 'Visit length', 'Stayed 7s', 7 * 1000); // adjust bounce rate
      }, 7 * 1000);
  </script>
  {{ghost_foot}}
</body>

</html>
